body {
    font-family: Arial, sans-serif;
    background-color: #1a1d3a;
    color: white;
}



.Logo-2  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo-2 img {
    width: 20em;
    
}
.Checkout-1{
display: flex;
gap: 4em;
padding: 4em;
justify-content: center;

}

.Regenjas-Checkout {
    width:  12em;
    margin-top: 5em;
    border-radius: 1em;
}

.arrow {
    
   position: absolute;
   top: 0;
   width: 0.8em;
   margin-left: 1em;
   margin-top: 1em;
}

.Products-1 {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
   }

.Products-1 h3 {
    font-weight: lighter;
    }


.Checkout-2{
display: flex;
gap: 4em;
padding: 4em;
justify-content: center;
align-items: center;
margin-right: 2em;
}  


.Phoriatas-Checkout {
    width:  12em;
    margin-top: 5em;
    border-radius: 1em;
     
    
}


.Products-2 {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    
   }

.Products-2 h3 {
    font-weight: lighter;
    }

  
  
    .Checkout-3{
display: flex;
gap: 4em;
padding: 4em;
justify-content: center;
align-items: center;
margin-right: 2em;
}  


.Raincoat-Checkout {
    width:  13em;
    margin-top: 5em;
    border-radius: 1em;
     
    
}


.Products-3 {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    
   }

.Products-3 h3 {
    font-weight: lighter;
    }

     

    .prijs-5 {
     display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 21em;
    justify-content: center;
    margin-top: 3em;
}
  

.Verzending {
     display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 21em;
    justify-content: center;
    margin-top: 3em;
}

.Afrekenen {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em 3em ;
    text-align: center;
    border: none;
    margin-top: 5em;
    font-size: 1.1em;
    
}
