body {
    font-family: Arial, sans-serif;
    background-color: #1a1d3a;
    color: white;
}

.logo {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em;
    
}

.subtitle {
    text-align: center;
    width: 100%;
    
}



.producten {
    margin-top: 6em;
    padding: 2em;
    
}

.producten img {
    width: 15em;
    display: flex;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 5em;
}

.Totebag-title {
 display: flex;
 justify-content: center;
 font-weight: lighter;
}

.koop-btn1 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: black;
}

.koop-btn1 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: black;
}



.producten-2 {
    margin-top: 6em;
    padding: 2em;
}

.producten-2 img {
    width: 15em;
    display: flex;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 5em;
}

.Rainjacket-title {
 display: flex;
 justify-content: center;
 font-weight: lighter;
}



.koop-btn2 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: black;
}

.producten-3 {
    margin-top: 6em;
    padding: 2em;
}

.producten-3 img {
    
     width: 15em;
    display: flex;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 5em;
}

.Boots-title {
display: flex;
 justify-content: center;
 font-weight: lighter;
}



.koop-btn3 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: black;
}

.producten-4 {
    margin-top: 6em;
    padding: 2em;
}

.producten-4 img {
    width: 15em;
    display: flex;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 5em;
}


.raincoat-title {
display: flex;
 justify-content: center;
 font-weight: lighter;
}



.Koop-4 {
    background-color: #FA8072;
    display: flex;
    margin-left: 18em;
    border-radius: 2em;
    padding: 1em 3em;
    text-align: center;
    border: none;
}

.koop-btn4 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: black;
}