body {
    font-family: Arial, sans-serif;
    background-color: #1a1d3a;
    color: white;
}

.Rainboots-foto {
    width: 20em;
    display: flex;
    margin: 0 auto;
    margin-top: 8em;
    border-radius: 1em;
}

.arrow {
   position: absolute;
   top: 0;
   width: 0.8em;
   margin-left: 1em;
   margin-top: 1em;
}

.Rainboots-title {
    display: flex;
    justify-content: center;
}

.beschrijving-3 {
    display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 21em;
}

.prijs-3 {
    display: flex;
    text-align: center;
    margin: 0 auto;
    max-width: 6em;
    margin-top: 2em;
}

.maten-3 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1.5em;
    font-size: 1.5em;
    }

.maat {
    background-color: #FA8072;
    border: none;
    border-radius: 1em;
    width: 4em ;
    height: 3em;
}

.maten-3 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1.5em;
    font-size: 1.5em;
    }

.maat {
    background-color: #FA8072;
    border: none;
    border-radius: 1em;
    width: 4em ;
    height: 3em;
}

.bestel-btn3 {
    background-color: #FA8072;
    display: flex;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em 2em;
    text-align: center;
    border: none;
    justify-content: center;
    text-decoration: none;
    width: 10em;
    color: black;
    margin-top: 4em;
    
}